{
  "root": true,
  "ignorePatterns": [
    "packages/smy-h5-cli/lib/**",
    "packages/smy-h5-cli/site/**",
    "packages/smy-h5-ui/lib/**",
    "packages/smy-h5-ui/es/**",
    "packages/smy-h5-ui/umd/**",
    "packages/smy-h5-ui/site/**",
    "packages/smy-h5-ui/public/**",
    "packages/smy-h5-code-view/**"
  ],
  "extends": [
    "@smy-h5"
  ]
}
