packages/smy-h5-cli/lib/**
packages/smy-h5-cli/site/**

packages/smy-h5-icons/dist/**

packages/smy-h5-ui/es/**
packages/smy-h5-ui/lib/**
packages/smy-h5-ui/umd/**
packages/smy-h5-ui/site/**
packages/smy-h5-ui/public/**
packages/smy-h5-ui/.varlet/**
packages/smy-h5-ui/coverage/**
packages/smy-h5-ui/highlight/**
packages/smy-h5-ui/types/global.d.ts

**/package.json
*.md

pnpm-lock.yaml
pnpm-workspace.yaml
