@import '../_styles/var.less';

@badge-background: linear-gradient(135deg, @color-primary 0%, @color-primary-end 100%);
@badge-color: #fff;
@badge-font-size: @font-size-sm;
@badge-border-radius: 14px;
@badge-padding: 0 5px;
@badge-transform: translate(50%, -50%);
@badge-z-index: 1;
@badge-dot-width: 7px;
@badge-dot-height: 7px;
@badge-dot-border-radius: 7px;
@badge-dot-padding: 0;

:root {
  --badge-background: @badge-background;
  --badge-color: @badge-color;
  --badge-font-size: @badge-font-size;
  --badge-border-radius: @badge-border-radius;
  --badge-padding: @badge-padding;
  --badge-z-index: @badge-z-index;
  --badge-dot-width: @badge-dot-width;
  --badge-dot-height: @badge-dot-height;
  --badge-dot-border-radius: @badge-dot-border-radius;
  --badge-dot-padding: @badge-dot-padding;
}

.smy-badge {
  position: relative;
  display: inline-block;
  transition: background-color 0.25s;

  &__content {
    display: flex;
    align-items: center;
    color: var(--badge-color);
    padding: var(--badge-padding);
    text-align: center;
    background: var(--badge-background);
    border-radius: var(--badge-border-radius);
    font-weight: normal;
    font-size: var(--badge-font-size);

    &--dot {
      box-sizing: content-box;
      width: var(--badge-dot-width);
      height: var(--badge-dot-height);
      padding: var(--badge-dot-padding);
      border-radius: var(--badge-dot-border-radius);
    }

    &--bubble {
      border-bottom-left-radius: 0;
    }

    &--icon {
      line-height: normal;
    }
  }

  &__position {
    position: absolute;
    border: 2px #fff solid;
    z-index: var(--badge-z-index);
  }

  &--right-top {
    top: 0;
    right: 0;
    transform: translateY(-50%) translateX(50%);
  }

  &--left-top {
    top: 0;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
  }

  &--right-bottom {
    bottom: 0;
    right: 0;
    transform: translateY(50%) translateX(50%);
  }

  &--left-bottom {
    bottom: 0;
    left: 0;
    transform: translateY(50%) translateX(-50%);
  }

  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity 0.15s var(--cubic-bezier);
  }

  &-fade-enter,
  &-fade-leave-to {
    opacity: 0;
  }
}
