@pull-refresh-control-text-color: #808080;
@pull-refresh-control-font-size: var(--font-size-md);

:root {
  --pull-refresh-control-text-color: @pull-refresh-control-text-color;
  --pull-refresh-control-font-size: @pull-refresh-control-font-size;
}

.smy-pull-refresh {
  height: 100%;
  overflow: hidden;

  &__control {
    position: relative;
    height: 100%;
  }
  &__header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(-100%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--pull-refresh-control-font-size);

    &-icon {
      margin-right: 0.2em;
    }

    &-text {
      color: var(--pull-refresh-control-text-color);
    }
  }
}
