:root {
  --form-details-font-size: 12px;
  --form-details-margin-top: 6px;
  --form-details-extra-message-color: #888;
}

.smy-form-details {
  display: flex;
  justify-content: space-between;
  font-size: var(--form-details-font-size);
  // margin-top: var(--form-details-margin-top);

  &__error-message {
    flex-grow: 1;
    user-select: none;
    text-align: left;
  }
  &__extra-message {
    flex-shrink: 0;
    color: var(--form-details-extra-message-color);
    user-select: none;
    text-align: right;
  }
}
