.smy-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  position: relative;
  transition-property: transform, color;
  vertical-align: middle;

  img,
  svg {
    width: 1em;
    height: 1em;
  }

  svg :not([fill]) {
    fill: currentColor;
  }

  &--set {
    &::before {
      position: relative;
      display: inline-block;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-weight: normal;
      font-style: normal;
      line-height: 1;
    }
  }

  &--shrinking {
    transform: scale(0);
  }
}
