@card-padding: 0 0 15px 0;
@card-background: #fff;
@card-line-height: 22px;
@card-border-radius: 4px;
@card-image-width: 100%;
@card-image-height: 200px;
@card-title-color: #333;
@card-title-font-size: 20px;
@card-title-padding: 0 12px;
@card-title-margin: 15px 0 0 0;

:root {
  --card-padding: @card-padding;
  --card-line-height: @card-line-height;
  --card-background: @card-background;
  --card-border-radius: @card-border-radius;
  --card-image-width: @card-image-width;
  --card-image-height: @card-image-height;
  --card-title-color: @card-title-color;
  --card-title-font-size: @card-title-font-size;
  --card-title-padding: @card-title-padding;
  --card-title-margin: @card-title-margin;
}

.smy-card {
  overflow: hidden;
  padding: var(--card-padding);
  line-height: var(--card-line-height);
  border-radius: var(--card-border-radius);
  background: var(--card-background);
  transition: background-color 0.25s;

  &__image {
    width: var(--card-image-width);
    height: var(--card-image-height);
    display: block;
  }
  &__title {
    font-size: var(--card-title-font-size);
    padding: var(--card-title-padding);
    margin: var(--card-title-margin);
    color: var(--card-title-color);
  }
}
