@popup-overlay-background-color: rgba(0, 0, 0, 0.6);
@popup-content-background-color: #fff;

:root {
  --popup-overlay-background-color: @popup-overlay-background-color;
  --popup-content-background-color: @popup-content-background-color;
}

.smy-fade {
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.25s;
  }
}

.pop-transition(center, scale(0.3));
.pop-transition(bottom, translateY(100%));
.pop-transition(top, translateY(-100%));
.pop-transition(left, translateX(-100%));
.pop-transition(right, translateX(100%));

.pop-transition(@position, @transform) {
  .smy-pop-@{position} {
    .transition-mixin(@transform);
  }
}

.transition-mixin(@transform, @transition-duration: 0.25s, @transition-timing-function: ease) {
  &-enter,
  &-leave-to {
    transform: @transform;
  }

  &-enter-active,
  &-leave-active {
    transition: all @transition-timing-function @transition-duration;
  }
}

.smy-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--popup-overlay-background-color);
    transition: all 0.25s;
  }

  &__content {
    overflow: auto;
    background-color: var(--popup-content-background-color);
    transition: all 0.25s;

    &--center {
      position: relative;
    }

    &--top {
      min-width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &--left {
      min-height: 100%;
      min-height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &--right {
      min-height: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }

    &--bottom {
      min-width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &--top {
      min-width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
