@toast-width: 256px;
@toast-color: rgba(255, 255, 255, 0.87);
@toast-border-radius: 4px;
@toast-backgdround: #333;
@toast-font-size: var(--fonst-size-md);
@toast-margin: 6px 24px;
@toast-border-color: currentColor;
@toast-success-background: var(--color-success);
@toast-content-padding: 14px 16px;
@toast-action-margin: 0 16px 0 0;
@toast-vertical-width: unset;
@toast-vertical-padding: 10px;
@toast-opacity: 0.9;

:root {
  --toast-width: @toast-width;
  --toast-color: @toast-color;
  --toast-border-radius: @toast-border-radius;
  --toast-background: @toast-backgdround;
  --toast-opacity: @toast-opacity;
  --toast-font-size: @toast-font-size;
  --toast-margin: @toast-margin;
  --toast-border-color: @toast-border-color;
  --toast-success-background: @toast-success-background;

  --toast-content-padding: @toast-content-padding;
  --toast-action-margin: @toast-action-margin;
  --toast-vertical-width: @toast-vertical-width;
  --toast-vertical-padding: @toast-vertical-padding;
}

.smy-transition-group {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.smy-pointer-auto {
  pointer-events: auto;
}

.smy-toast {
  display: flex;
  justify-content: center;
  align-items: baseline;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.15s var(--cubic-bezier);

  & &__vertical {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: var(--toast-vertical-width);
    padding: var(--toast-vertical-padding);

    .smy-toast__content {
      padding: 0;
    }
    .smy-toast__action {
      margin: 0;
      align-self: center;
    }
  }
  &__wrapper {
    width: var(--toast-width);
    display: flex;
    border-radius: var(--toast-border-radius);
    color: var(--toast-color);
    background: var(--toast-background);
    opacity: var(--toast-opacity);
    font-size: var(--toast-font-size);
    margin: var(--toast-margin);
    align-items: center;
    border-color: var(--toast-border-color);
    pointer-events: auto;
    transition: 0.3s var(--cubic-bezier);

    &--success {
      background: var(--toast-success-background);
    }
  }
  &__content {
    flex-grow: 1;
    padding: var(--toast-content-padding);
  }
  &__action {
    display: flex;
    margin: var(--toast-action-margin);
  }

  &-fade {
    &-leave-active {
      position: absolute;
    }
    &-enter,
    &-leave-to {
      opacity: 0;
      transform: translateX(-30px);
    }
  }

  &-transition {
    top: 0;
    position: fixed;
    .smy-toast__wrapper {
      position: absolute;

      &--top {
        top: 5%;
      }
      &--center {
        top: 45%;
      }
      &--bottom {
        bottom: 5%;
      }
    }
  }
}
