@scroller-control-font-size: var(--font-size-md);
@scroller-control-height: 50px;

:root {
  --scroller-control-font-size: @scroller-control-font-size;
  --scroller-control-height: @scroller-control-height;
}

.smy-scroller {
  display: block;
  width: 100%;

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--scroller-control-height);
    font-size: var(--scroller-control-font-size);
    text-align: center;

    &-loading {
      display: flex;
      align-items: center;
      justify-content: center;

      &__icon {
        margin-right: 0.2em;
      }
    }
  }
}
