@tabs-bottom-bar-width: 40px;
@tabs-bottom-bar-height: 3px;
@tabs-nav-background: #fff;

@tab-padding-bottom: 15px;
@tab-active-text-color: #323233;

:root {
  --tabs-nav-background: @tabs-nav-background;
  --tabs-bottom-bar-width: @tabs-bottom-bar-width;
  --tabs-bottom-bar-height: @tabs-bottom-bar-height;
  --tabs-bottom-bar-color: var(--color-primary);
  --tabs-line-height: 44px;
}

:root {
  --tab-active-text-color: @tab-active-text-color;
  --tab-font-size: 14px;
  --tab-padding-bottom: @tab-padding-bottom;
}
.smy-tabs {
  position: relative;

  &__wrap {
    overflow: hidden;
    height: var(--tabs-line-height);
  }
  &__nav {
    position: relative;
    display: flex;
    user-select: none;
    background: var(--tabs-nav-background);

    &--line {
      box-sizing: content-box;
      height: 100%;
      padding-bottom: 15px;
    }
    &--line&--scrollable,
    &--line&--shrink {
      padding-left: var(--padding-xs);
      padding-right: var(--padding-xs);
    }
    &--scrollable {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &__track {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    will-change: left;
  }

  &__line {
    position: absolute;
    bottom: var(--tab-padding-bottom);
    left: 0;
    z-index: 1;
    width: var(--tabs-bottom-bar-width);
    height: var(--tabs-bottom-bar-height);
    background: var(--tabs-bottom-bar-color);
    border-radius: var(--tabs-bottom-bar-height);
  }

  &__content {
    &--animated {
      overflow: hidden;
    }
  }
}

.smy-tab {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-sizing: content-box;
  height: 100%;
  padding: 0 4px var(--tab-padding-bottom);
  color: #646566;
  font-size: var(--tab-font-size);
  line-height: var(--tab-line-height);

  &--active {
    color: var(--tab-active-text-color);
    font-weight: 600;
  }
  &--grow {
    flex: 1 0 auto;
    padding: 0 var(--padding-sm);
  }
  &--shrink {
    flex: none;
    padding: 0 var(--padding-xs);
  }
}
