@import './var.less';
@import './mixins/ellipsis.less';
@import './mixins/hairline.less';

[class*='smy--hairline'] {
  position: relative;
  &::after {
    .hairline();
  }
}

.smy {
  &--box {
    &,
    * {
      box-sizing: border-box;
    }
  }

  &--relative {
    position: relative;
  }

  &--absolute {
    position: absolute;
  }

  &--hidden {
    overflow: hidden;
  }

  &--lock {
    overflow: hidden;
  }

  &--block {
    display: block;
  }

  &--inline-block {
    display: inline-block;
  }

  &--flex {
    display: flex;
  }

  &--inline-flex {
    display: inline-flex;
  }

  &--ellipsis {
    .ellipsis();
  }

  &--hairline {
    &-top::after {
      border-top-width: 1px;
    }
    &-left::after {
      border-left-width: 1px;
    }
    &-right::after {
      border-right-width: 1px;
    }
    &-bottom::after {
      border-bottom-width: 1px;
    }
    &-top-bottom::after {
      border-width: 1px 0;
    }
    &-suround::after {
      border-width: 1px;
    }
  }
}
