:root {
  // color
  --color-primary: #3a7afe;
  --color-info: #00afef;
  --color-success: #00c48f;
  --color-disabled: #e0e0e0;
  --color-warning: #ff9f00;
  --color-danger: #f44336;
  --text-color: #323233;

  // padding
  --padding-base: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding-md: 16px;
  --padding-lg: 24px;

  // border
  --border-width: 1px;
  --border-color: #ebedf0;
  --radius-sm: 2px;
  --radius-md: 2px;
  --radius-lg: 2px;

  //  font
  --font-bold: 600;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;

  // animation
  --duration-base: 300ms;
  --duration-fast: 200ms;
  --ease-out: ease-out;
  --ease-in: ease-in;
  --cubic-bezier: cubic-bezier(0.25, 0.8, 0.5, 1);
}
