@import '../_styles/mixins/hairline.less';

@cell-color: #333;
@cell-background: #fff;
@cell-font-size: 14px;
@cell-desc-font-size: 12px;
@cell-desc-color: rgba(0, 0, 0, 0.6);
@cell-padding: 10px 12px;
@cell-min-height: 40px;
@cell-border-color: #bcc2cb;
@cell-border-left: 12px;
@cell-border-right: 12px;
@cell-icon-right: 8px;
@cell-extra-left: 8px;
@cell-insert-box-shadow: rgb(237 238 241) 0px 1px 7px;

:root {
  --cell-color: @cell-color;
  --cell-font-size: @cell-font-size;
  --cell-desc-font-size: @cell-desc-font-size;
  --cell-desc-color: @cell-desc-color;
  --cell-padding: @cell-padding;
  --cell-min-height: @cell-min-height;
  --cell-border-color: @cell-border-color;
  --cell-border-left: @cell-border-left;
  --cell-border-right: @cell-border-right;
  --cell-icon-right: @cell-icon-right;
  --cell-extra-left: @cell-extra-left;
  --cell--background: @cell-background;
  --cell-insert-box-shadow: @cell-insert-box-shadow;
}

.smy-cell {
  position: relative;
  align-items: center;
  display: flex;
  min-height: var(--cell-min-height);
  outline: none;
  padding: var(--cell-padding);
  position: relative;
  box-sizing: border-box;
  font-size: var(--cell-font-size);
  color: var(--cell-color);
  background: var(--cell--background);

  &::after {
    .hairline-bottom(var(--cell-border-color), var(--cell-border-left), var(--cell-border-right));
  }

  &:last-child::after,
  &--borderless::after {
    display: none;
  }

  &--insert {
    border-radius: 6px;
    box-shadow: var(--cell-insert-box-shadow);
  }
  &--clickable {
    cursor: pointer;
    &:active::before {
      opacity: 0.1;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: #000;
      border: inherit;
      border-radius: inherit;
      transform: translate3d(-50%, -50%, 0);
      content: ' ';
      opacity: 0;
      z-index: 2;
    }
  }

  &__icon {
    margin-right: var(--cell-icon-right);
    flex: 0;
  }
  &__content {
    flex: 1;
    overflow: hidden;
  }
  // &__title {
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // }
  &__desc {
    font-size: var(--cell-desc-font-size);
    color: var(--cell-desc-color);
  }
}
