:root {
  --field-input-disabled-text-color: #c8c9cc;
  --field-placeholder-text-color: #ccc;
  --field-clear-icon-color: #c8c9cc;
  --field-clear-icon-size: 16px;
}

.smy-field {
  flex-wrap: wrap;
  &__body {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__control {
    display: block;
    min-width: 0;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    resize: none;
    box-sizing: border-box;
    user-select: auto;
    line-height: inherit;
    font: inherit;
    color: #323233;
    font-size: 12px;
    line-height: 12px;

    &::placeholder {
      color: var(--field-placeholder-text-color);
    }
    &:read-only {
      cursor: default;
    }
    &:disabled {
      color: var(--field-input-disabled-text-color);
      -webkit-text-fill-color: var(--field-input-disabled-text-color);
      cursor: not-allowed;
      opacity: 1;
    }

    &--center {
      justify-content: center;
      text-align: center;
    }
    &--right {
      justify-content: flex-end;
      text-align: right;
    }
  }

  &__clear,
  &__button {
    flex-shrink: 0;
    line-height: inherit;
    padding: 0 0 0 var(--padding-xs);
  }

  &__clear {
    color: var(--field-clear-icon-color);
    font-size: var(--field-clear-icon-size);
    cursor: pointer;
  }
}
